<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sheet Craft{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="background-image"></div>
    <header>
        <div>
            <a href="{% url 'welcome' %}"><img src="{% static 'images/logo.svg' %}" alt="Site Logo" class="site-logo"></a>
            <a href="{% url 'welcome' %}"><h1 class="site-title">Sheet Craft</h1></a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'welcome' %}">Home</a></li>
                <li><a href="{% url 'upload' %}">Custom Script</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Contact info: [Your Contact Information Here]</p>
    </footer>
</body>
</html>
