{% extends "base.html" %}

{% block title %}Upload File{% endblock %}

{% block content %}
    <div class="upload-container">
        <h1>Upload and Generate File</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
        <div id="instructions">
            <p id="test" class="script-instruction">Pick any Excel file and the script will generate a new Excel file of the same kind.</p>
            <p id="concatenate_analysis" class="script-instruction">Select a number of analysis files for the script to concatenate data from.</p>
            <p id="analysis_yemk_phl_live" class="script-instruction">Select a precursor file like "LC2-032_KCP1 pHL-YEMK DC 20231030.xlsx".</p>
            <p id="analysis_flip700_phl_live" class="script-instruction">Select a precursor file like "LC2-032_KCP1 pHL-FLIP700 DC 20231030.xlsx".</p>
            <p id="compile_yemk" class="script-instruction">Select a series of analysis files excluding Flip700 files.</p>
            <p id="compile_flip700" class="script-instruction">Select a series of analysis files excluding Yemk files.</p>
            <p id="compile_phl" class="script-instruction">Select a series of analysis files.</p>
            <p id="compile_live" class="script-instruction">Select a series of analysis files.</p>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const scriptTypeElement = document.querySelector('select[name="script_type"]');
            const instructions = document.querySelectorAll('.script-instruction');

            function updateInstructions() {
                instructions.forEach(instruction => instruction.style.display = 'none');
                const selectedScript = scriptTypeElement.value;
                const selectedInstruction = document.getElementById(selectedScript);
                if (selectedInstruction) {
                    selectedInstruction.style.display = 'block';
                }
            }

            scriptTypeElement.addEventListener('change', updateInstructions);
            updateInstructions();
        });
    </script>
{% endblock %}
